<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./../static/css/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src='main.js'></script>
</head>

<body>
    <div class="header">
        <h1>Universidad Distrital F.J.C</h1>
        <h3>Ciencia de Datos - RETO #1</h3>
        <span>Nelson Santigo Roa Garzon</span>
        <span>Christian Isaac gamboa Restrepo</span>
    </div>
    <div class="filter-container">
        <form action="/" method="post">
            <div class="item-filter">
                <input type="text" id="res" name="res">
            </div>
            <div class="item-filter">
                <input type="radio" id="numRes" name="param" value="numRes">
                <label for="numRes">Número de resolución</label>


                <input type="radio" id="lab" name="param" value="Laboratorio">
                <label for="lab">Laboratorio</label>


                <input type="radio" id="Departamento" name="param" value="Departamento">
                <label for="Departamento">Departamento</label>
            </div>
            <div class="item-filter">
                <button type="submit" class="btn">Filtrar</button>
            </div>
            <div class="item-filter">
                <button type="submit" class="btn">limpiar</button>
            </div>

        </form>

    </div>
    <div class="table-container">
        {% for table in tables %}
        {{titles[loop.index]}}
        {{ table|safe }}
        {% endfor %}
    </div>

</body>

</html>